[run]
omit =
    login/test_server.py
    news/test/test_server.py
    backend/settings*
    manage.py
    backend/wsgi.py
    */migrations/*
    */management/*
    helpers/fcm.py
    helpers/webpush.py
    */tasks.py
