# Run tests with Travis CI

language: python

python:
  - 3.6

services:
  - postgresql
  - rabbitmq

before_install:
  - export DJANGO_SETTINGS_MODULE=backend.settings_test
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt
  - pip install coverage
  - pip install codecov

script:
  - coverage run --source ./ manage.py test -v2
  - codecov

cache:
  directories:
    - $HOME/.cache/pip
