[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
asonic = "*"
celery = "*"
django-filter = "*"
django-markdownify = "*"
django-multiselectfield = "*"
django-notifications-hq = "*"
djangorestframework = "*"
feedparser = "*"
firebase-admin = "*"
flake8 = "*"
freezegun = "*"
gspread = "*"
html5lib = "*"
oauth2client = "*"
pylint-django = "*"
pylint = "*"
pyotp = "*"
python-dateutil = "*"
pywebpush = "*"
requests = "*"
Markdown = "*"
pymdown-extensions = "*"
Pillow = "*"
pylint_runner = "*"
PyYAML = "*"
drf-yasg = "*"
packaging = "*"
importlib-metadata = "*"
colorama = "*"
django = "~=3.2"
django-elasticsearch-dsl = "*"
elasticsearch-dsl = "*"
elasticsearch = "*"
google-api-python-client = "*"
django-cors-headers = "*"
dateparser = "*"
beautifulsoup4 = "*"
python-slugify = "*"
spacy = "<3.8.0"
redis = "*"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl"}