Django==2.0.5
djangorestframework==3.8.2
markdown==2.6.11
django-filter==1.1.0
Pillow==5.1.0
django-extra-fields==1.0.0
django-multiselectfield==0.1.8
requests==2.18.4
feedparser==5.2.1
python-dateutil==2.7.3
django-rest-swagger==2.2.0
