# Python CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

      - image: postgres:latest
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password

      - image: rabbitmq:3.5.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: "Setup custom environment variables"
          command: |
            echo 'export DJANGO_SETTINGS_MODULE="backend.settings_test"' >> $BASH_ENV # Redirect MY_ENV_VAR into $BA

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Run celery worker
          command: |
            . venv/bin/activate
            celery -A proj worker -l info
          background: true

      - run:
          name: Run Tests
          command: |
            . venv/bin/activate
            python manage.py test --settings backend.settings_test -v2

      - run:
          name: Lint
          command: |
            . venv/bin/activate
            flake8
            pylint_runner
