<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{settings.PRERENDER_TITLE}}</title>
    <meta name="description" content="{{body.short_description}}">
    <meta property="og:description" content="{{body.short_description}}" />

    <meta property="og:title" content="{{body.name}}" />
    <meta property="og:type" content="organization" />
    <meta property="og:url" content="{{settings.BASE_URL}}/body-details/{{body.id}}" />
    <meta property="og:image" content="{{body.image_url}}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">
</head>

<body>

<h2>{{body.name}}</h2>
{{body.short_description}}<br>
<br>
{{body.description}}<br>
<br>

<img style="width:250px" src="{{body.image_url}}"><br>
<br>

<h3>Events</h3>
{% for event in events  %}
<a href="/event-details/{{event.id}}">{{event.name}}</a>, {{event.start_time}} to {{event.end_time}}<br>
{% endfor %}

<!-- cbr is ChildBodyRelation -->
<h3>Children</h3>
{% for cbr in body.children.all  %}
<a href="/body-details/{{cbr.child.id}}">{{cbr.child.name}}</a><br>
{% endfor %}

<h3>Part of</h3>
{% for cbr in body.parents.all  %}
<a href="/body-details/{{cbr.parent.id}}">{{cbr.parent.name}}</a><br>
{% endfor %}

<h3>People</h3>
{% for role in body.roles.all  %}
    <h4>{{role.name}}</h4>
    {% for user in role.users.all  %}
        <a href="/user-details/{{user.id}}">{{user.name}}</a><br>
    {% endfor %}
{% endfor %}

</body>
</html>
