<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Tree | {{settings.PRERENDER_TITLE}}</title>

    <script>
        function toggleImages() {
            var img = document.getElementsByClassName('image');
            for (var i = 0; i < img.length; i++) {
                if (img[i].style.display === 'inline') {
                    img[i].style.display = 'none';
                } else {
                    img[i].style.display = 'inline';
                }
            }
        }
    </script>

    <style>
        .image {
            display: none;
        }
    </style>
</head>

<body>

<h2>{{body.name}}</h2>

<button onclick="toggleImages()">Toggle Images</button><br><br>

{% include "body-tree-data.html" with body=body %}

</body>
</html>
