<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{body.name}} | {{settings.PRERENDER_TITLE}}</title>
    <meta name="description" content="{{body.short_description}}">
    <meta property="og:description" content="{{body.short_description}}" />

    <meta property="og:title" content="{{body.name}}" />
    <meta property="og:type" content="organization" />
    <meta property="og:url" content="{{settings.BASE_URL}}/org/{{body.str_id}}" />
    <meta property="og:image" content="{{body.image_url}}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">

    <style>
        img.head { width:350px; max-width: 100%; }
        div { margin: 10px 0; }
        .description { white-space: pre-line; }
    </style>
</head>

<body itemscope itemtype="http://schema.org/Organization">

<h2 itemprop="name">{{body.name}}</h2>
<div>{{body.short_description}}</div>

<br>

{% load markdownify %}
<div class="description" itemprop="description">
    {{body.description | markdownify}}
</div>

<img itemprop="logo" class="head" src="{{body.image_url}}">

<br><br>

<div>
    <h3>Events</h3>
    {% for event in events  %}
        <div itemprop="event" itemscope itemtype="http://schema.org/Event">
            <a itemprop="url" href="{{settings.BASE_URL}}/event/{{event.str_id}}">
                <span itemprop="name">{{event.name}}</span>
            </a>

            {%include "event_date_venue.html" with event=event settings=settings%}

            <meta itemprop="description" content="{{event.description}}">
            <meta itemprop="image" content="{{event.image_url | default_if_none:event.bodies.first.image_url }}">
        </div>
    {% endfor %}
</div>

<!-- cbr is ChildBodyRelation -->
<div>
    <h3>Children</h3>
    {% for cbr in body.children.all  %}
        <div itemprop="subOrganization" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="{{settings.BASE_URL}}/org/{{cbr.child.str_id}}">
                <span itemprop="name">{{cbr.child.name}}</span>
            </a>
        </div>
    {% endfor %}
</div>

<div>
    <h3>Part of</h3>
    {% for cbr in body.parents.all  %}
        <div itemprop="parentOrganization" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="{{settings.BASE_URL}}/org/{{cbr.parent.str_id}}">
                <span itemprop="name">{{cbr.parent.name}}</span>
            </a>
        </div>
    {% endfor %}
</div>

<div>
    <h3>People</h3>
    {% for role in body.roles.all  %}
        <h4>{{role.name}}</h4>
        {% for user in role.users.all  %}
            <div itemprop="member" itemscope itemtype="http://schema.org/Person">
                <a itemprop="url" href="{{settings.BASE_URL}}/user/{{user.ldap_id | default_if_none:user.id }}">
                    <span itemprop="name">{{user.name}}</span>
                </a>
                <meta itemprop="jobTitle" content="{{role.name}}">
            </div>
        {% endfor %}
    {% endfor %}
</div>

<br>

<div>
    {% if body.website_url  %}
        <a itemprop="sameAs" href="{{body.website_url}}">Website</a> <br />
    {% endif %}

    <a itemprop="url" href="{{settings.BASE_URL}}/org/{{body.str_id}}">Canonical Link</a>
</div>

<div>
    {%include "breadcrumb.html" with bread=bread %}
</div>

{%include "links.html" %}

</body>
</html>
