<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{event.name}} | {{settings.PRERENDER_TITLE}}</title>
    <meta property="og:description" content="{{event.start_time}}" />

    <meta property="og:title" content="{{event.name}}" />
    <meta property="og:type" content="event" />
    <meta property="og:url" content="{{settings.BASE_URL}}/event/{{event.str_id}}" />
    <meta property="og:image" content="{{event.image_url | default_if_none:event.bodies.first.image_url }}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">

    <meta property="og:start_time" content="{{event.start_time.isoformat}}" />
    <meta property="og:end_time" content="{{event.end_time.isoformat}}" />

    <style>
        img.head { width:350px; max-width: 100%; }
        div { margin: 10px 0; }
        .description { white-space: pre-line; }
    </style>
</head>

<body itemscope itemtype="http://schema.org/Event">

<div>
<h2 itemprop="name">{{event.name}}</h2>
<img itemprop="image" class="head" src="{{event.image_url | default_if_none:event.bodies.first.image_url }}">
</div>

<div>
    <span itemprop="startDate" content="{{event.start_time|date:'c'}}">{{event.start_time}}</span>
    to
    <span itemprop="endDate" content="{{event.end_time|date:'c'}}">{{event.end_time}}</span>
</div>

<div>
{% for venue in event.venues.all  %}
    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">{{venue.name}}</span>
        {% include "venue-meta.html" with venue=venue settings=settings %}
    </div>
{% endfor %}
</div>

{% load markdownify %}
<div class="description" itemprop="description">
    {{event.description | markdownify}}
</div>

<div>
    <h4>Conducted by:</h4>
    {% for body in event.bodies.all  %}
        <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="{{settings.BASE_URL}}/org/{{body.str_id}}">
                <span itemprop="name">{{body.name}}</span>
                <meta itemprop="image" content="{{body.image_url}}">
                <meta itemprop="description" content="{{body.short_description}}">
            </a>
        </div>
    {% endfor %}
</div>
<br />

<div>
    {% if event.website_url  %}
        <a itemprop="sameAs" href="{{event.website_url}}">Website</a> <br />
    {% endif %}

    <a itemprop="url" href="{{settings.BASE_URL}}/event/{{event.str_id}}">Canonical Link</a>
</div>
<br />

<div>
    {%include "breadcrumb.html" with bread=bread %}
</div>

<div>
    {%include "links.html" %}
</div>

</body>
</html>
