<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{settings.PRERENDER_TITLE}}</title>
    <meta name="description" content="{{event.start_time}}">
    <meta property="og:description" content="{{event.start_time}}" />

    <meta property="og:title" content="{{event.name}}" />
    <meta property="og:type" content="event" />
    <meta property="og:url" content="{{settings.BASE_URL}}/event/{{event.str_id}}" />
    <meta property="og:image" content="{{event.image_url}}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">

    <meta property="og:start_time" content="{{event.start_time.isoformat}}" />
    <meta property="og:end_time" content="{{event.end_time.isoformat}}" />
</head>

<body itemscope itemtype="http://schema.org/Event">

<div>
<h2 itemprop="name">{{event.name}}</h2>
<img itemprop="image" style="width:350px" src="{{event.image_url}}">
</div>

<div>
    <span itemprop="startDate" content="{{event.start_time|date:'c'}}">{{event.start_time}}</span>
    to
    <span itemprop="endDate" content="{{event.end_time|date:'c'}}">{{event.end_time}}</span>
</div>

<div>
{% for venue in event.venues.all  %}
    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">{{venue.name}}</span>
        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span style="display: none" itemprop="streetAddress">{{venue.name}}</span>
        </div>
    </div>
{% endfor %}
</div>

<div style="white-space: pre" itemprop="description">
    {{event.description}}
</div>

<div>
    <h4>Conducted by:</h4>
    {% for body in event.bodies.all  %}
        <a href="/org/{{body.str_id}}">{{body.name}}</a><br>
    {% endfor %}
</div>
<br />

<div>
    {% if event.website_url  %}
        <a itemprop="sameAs" href="{{event.website_url}}">Website</a> <br />
    {% endif %}

    <a itemprop="url" href="{{settings.BASE_URL}}/event/{{event.str_id}}">Canonical Link</a>
</div>
<br />

<div>
    {%include "links.html" %}
</div>

</body>
</html>
