<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore | {{settings.PRERENDER_TITLE}}</title>
    <meta name="description" content="Find Organizations, Events and People">
    <meta property="og:description" content="Find Organizations, Events and People" />

    <meta property="og:title" content="Explore | {{settings.PRERENDER_TITLE}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{settings.BASE_URL}}/explore" />
    <meta property="og:image" content="{{settings.LOGO_URL}}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">
</head>

<body>

Find Organizations, Events and People<br>
{%include "links.html" %}

<ul>
{% for body in bodies %}
    <li itemscope itemtype="http://schema.org/Organization">
        <div>
            <a itemprop="url" href="{{settings.BASE_URL}}/org/{{body.str_id}}">
                <span itemprop="name"><b>{{body.name}}</b></span>
            </a>
        </div>

        <div itemprop="description">
            {{body.short_description}}
        </div>

        {% if body.image_url %}
        <div>
            <a href="{{settings.BASE_URL}}/org/{{body.str_id}}">
                <img itemprop="logo" style="width:100px;" src="{{body.image_url}}">
            </a>
        </div>
        {% endif %}

        {% if body.website_url  %}
        <div>
            <a itemprop="sameAs" href="{{body.website_url}}">{{body.name}} Website</a><br>
        </div>
        {% endif %}
        <br>
    </li>
{% endfor %}
</ul>

</body>
</html>
