<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News | {{settings.PRERENDER_TITLE}}</title>
    <meta name="description" content="News at {{settings.PRERENDER_DESCRIPTION}}">
    <meta property="og:description" content="News at {{settings.PRERENDER_DESCRIPTION}}" />

    <meta property="og:title" content="News | {{settings.PRERENDER_TITLE}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{settings.BASE_URL}}/news" />
    <meta property="og:image" content="{{settings.LOGO_URL}}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">
</head>

<body>

{%include "links.html" %}

<h2>News</h2>
<ul>
{% for entry in news  %}
    <li itemscope itemtype="https://schema.org/NewsArticle">
        <div>
            <a itemprop="url" href="{{entry.link}}">
                <span itemprop="headline"><b>{{entry.title}}</b></span>
            </a>
        </div>
        <span itemprop="datePublished dateModified" content="{{entry.published | date:'c'}}">{{entry.published}}</span>
        <div itemprop="publisher author" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="{{settings.BASE_URL}}/org/{{entry.body.str_id}}">
                <span itemprop="name">{{entry.body.name}}</span>
            </a>
            {% if entry.body.website_url  %}
                - <a itemprop="sameAs" href="{{entry.body.website_url}}">website</a>
            {% endif %}
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <img itemprop="url" src="{{entry.body.image_url}}" alt="LOGO" style="height:60px">
                <meta itemprop="width" content="600">
            </div>
            <meta itemprop="description" content="{{entry.body.short_description}}">
        </div>
        <p itemprop="text">{{entry.content | safe }}</p>
        <meta itemprop="image" content="{{entry.body.image_url}}">
        <br>
    </li>
{% endfor %}
</ul>

</body>
</html>
