<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile.name}} | {{settings.PRERENDER_TITLE}}</title>
    <meta property="og:description" content="Profile at {{settings.PRERENDER_TITLE}}" />

    <meta property="og:title" content="{{profile.name}}" />
    <meta property="og:type" content="profile" />
    {% if profile.ldap_id %}
        <meta property="og:url" content="{{settings.BASE_URL}}/user/{{profile.ldap_id}}" />
    {% else %}
        <meta property="og:url" content="{{settings.BASE_URL}}/user/{{profile.id}}" />
    {% endif %}
    <meta property="og:image" content="{{profile.profile_pic}}" />
    <meta property="og:site_name" content="{{settings.PRERENDER_TITLE}}">
    <style>
        img.head { width:200px; max-width: 100%; }
    </style>
</head>

<body>

{{profile.name}}<br>
{{profile.roll_no}}<br>
<br>

<img class="head" src="{{profile.profile_pic}}"><br>
<br>

<h3>Roles</h3>
<div>
    {% for role in profile.roles.all  %}
    <a href="/org/{{role.body.str_id}}">{{role.body.name}}</a> {{ role.name }}<br>
    {% endfor %}
</div>

<h3>Achievements</h3>
<div>
    {% for a in achievements  %}
    <p>
        {{ a.title }}
        {% if a.event %}
        at <a href="/event/{{a.event.str_id}}">{{a.event.name}}</a>
        {% endif %}
        (from <a href="/org/{{a.body.str_id}}">{{a.body.name}}</a>)
    </p>
    {% endfor %}
</div>

{%include "links.html" %}

</body>
</html>
